/* MAIN CONTAINER */


.nav-container{
    padding: .5rem;
    width: 100%;
}

.menu {
    padding: .6rem 2rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    .menu {
        display: none;
    }
}

.item {
    font-weight: 700;
    font-style: normal;
    font-size: .9rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    line-height: 1em;
}

.item:hover {
    color: rgb(225, 97, 46);
}


/* SHOW SIDEBAR */
.open{
    color: red;
} 

.sidebar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    background: #000;
    cursor: pointer;
}

.sidebar-container{
    border: 1px solid orangered;
}

/* SHOW SIDEBAR - MENU COLUMN */
.nav-container .menu-column {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
}