/* MAIN CONTAINER */
.nav-container{
    padding: .5rem;
    width: 100%;
}

.menu {
    padding: .6rem 2rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.item {
    font-weight: 700;
    font-style: normal;
    font-size: .9rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    line-height: 1em;
}

.item:hover {
    color: rgb(225, 97, 46);
}



@media only screen and (max-width: 1050px) {
    .menu {
        display: none;
    }
}