.about-container{
    color: black;
    padding: 4rem 1rem;
    background-color: pink;
    font-family: 'Franklin Gothic Medium', sans-serif;
}


/* MAIN FLEX CONTAINER */
.about-main {
    display: flex;
    flex-direction: column;
}

/* FLEX CONTAINER - row */
.row {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}

.top{
    background-image: url(../images/organic_1.svg);
    background-repeat: no-repeat;
}


.column {
    
    margin-left: 1rem;
    margin-right: 1rem;
}


