.about-container{
    color: black;
    padding-top: 4rem;
    padding-bottom: 4rem; 
    border: 10px solid black;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

/* MAIN FLEX CONTAINER */
.about-main {
    display: flex;
    flex-direction: column;
}

/* FLEX CONTAINER - row */
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 5px solid green;
}

.row > * {
    flex-basis: 100%;
}

.one {
    background-image: url(../images/organic_5_squiggly.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 30%;
}

/* FLEX CONTAINER - each column */
.column {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column img {
    max-width: 100%;
    padding: 5rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    border: 5px solid yellow;
    height: 30%;
    width: 100%;
}

.bottom{
    background-color: rgb(86, 125, 96);
    display: flex;
    flex-direction: row;
}

.bottom h3 {
    color: whitesmoke;
    font-family: 'Cormorant Garamond', serif;;
}


.prompt {
    background-color: pink;
}