
.form-container {
  display: flex;
  justify-content: center;
}

.form-main{
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-family: 'Cormorant Garamond', serif;
}

.form-title{
  font-size: 2rem;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.input-title{
  text-align: left;
  text-transform: uppercase;
  padding-left: .5rem;
}

.btn {
  padding: .5rem;
  margin: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  font-family: 'Cormorant Garamond', serif;
  border: 1px solid black;
  width: 30%;

}

.btn:hover{
  background-color: orangered;
  transition: .6s;
}

.form-input{
  margin: .5rem;
  font-size: 1rem;
  padding: .8rem .5rem;
  box-sizing: border-box;
  border: 2px solid gray;
  background-color: #f1f1f1;
  border-radius: 5px;
  min-width: 350px;
}

.signup_call{
  display: flex;
  justify-items: center;
  align-items: center;
}

.signup_call .create{
  color: black;
}

.signup_call .create:hover{
color: orangered;
}


select {
  width: 30%;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: 2px solid gray;
}

