.home-container {
    color: black;
    padding-top: 1rem;
    padding-bottom: 4rem; 
    font-family: Geneva, sans-serif
}

/* FLEX CONTAINER */
.home-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 4rem;
    border: 12px solid salmon;
}

/* FLEX CONTAINER - row */
.horizontal-section{
    display: flex;
    flex-direction: row;
    border: 2px solid pink;
}
/* COlUMN 1 - GRID */
.image-main{
    border: 2px solid green;
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}


/* COlUMN 1 - GRID ITEM */
.main-grid-item {
    width: 100%;
    max-height: 100%;
}

.main-grid-item:nth-of-type(1){
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    place-self: center;
}

.main-grid-item:nth-of-type(2){
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    place-self: center;
}





.image-main img {
    width: 75%;
    padding: 2rem 2rem;

}

/* COlUMN 2 */
.intro{
    border: 2px solid purple;
    width: 40%;
}

