/* MAIN CONTAINER */
.home-container {
    color: black;
    padding-top: 1rem;
    padding-bottom: 4rem; 
    font-family: Geneva, sans-serif
}

/* MAIN FLEX CONTAINER */
.home-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 4rem;
    border: 12px solid salmon;
}

/* LEFT COLUMN - GRID CONTAINER */
.image-main{
    border: 2px solid green;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    flex:1 
}

/* COlUMN 1 - GRID ITEM */
.main-grid-item {
    width: 100%;
    font-family: 'Cormorant Garamond', serif;
}

/* circle */
.main-grid-item:nth-of-type(1){
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    position: relative;
    transform: rotate(-40deg);
    width: 80%;
    top: 55%;
    left: 25%;
}

.hiker {
    width: 90%;
} 

/* hiker */
.main-grid-item:nth-of-type(2){
    grid-column: 1 / 5;
    grid-row: 1 / 3;  
}

/* hiker */
.main-grid-item:nth-of-type(3){
    grid-column: 4 / 8;
    grid-row: 2 / 3;
    position: relative;
    top: -30%;
}

/* blue blob */
.main-grid-item:nth-of-type(4){
    grid-column: 3 / 6;
    grid-row: 1 / 2;  
    position: relative;
    align-self: center;
    width: 50%; 
    top: 30%;
    left: 22%;
} 


/* squiggle */
.main-grid-item:nth-of-type(5){ 
    grid-column: 1 / 3; 
    grid-row: 2 / 3;  
    transform: rotate(20deg);
    position: relative;
    top: 50%;
}

/* horseshoe */
/* .main-grid-item:nth-of-type(6){ 
    grid-column: 2 / 3; 
     grid-row: 3 / 4;  
     position: relative;
     align-self: center;
     width: 50%;
      */


 /* horseshoe */
/* .main-grid-item:nth-of-type(7){ 
    grid-column: 6 / 7; 
     grid-row: 4 / 5;  
     position: relative;
     align-self: center;
    transform: rotate(-80deg);
    top: -25%;
     
     
 } */


 /* RIGHT COLUMN  */
.text-main{
 border: 2px solid purple;
 font-size: 3.5rem;
 line-height: 1.25;
 place-self: center;
 font-family: 'Cormorant Garamond', serif;
 flex:1; 
 height: 100%;
}

/* GRID INSIDE RIGHT COLUMN */
.intro-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.intro-item {
    width: 100%;
}

.intro-item:nth-of-type(1){
    grid-column: 1 / 5;
   
    
}

.intro-item:nth-of-type(2){
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.intro-item:nth-of-type(3){
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}