
.gear-list-container {
   width: 100%;
   border: 10px solid plum;
}

.list-main {
    border: 10px solid orange;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    column-gap: 1rem;
    row-gap: 1rem;
}



