/* MAIN CONTAINER */
.nav-container{
    padding: .8rem;
    width: 100%;
}

.menu{
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.item {
    font-weight: 500;
    font-style: normal;
    font-size: .9rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    line-height: 1em;
}

.item:hover {
    color: rgb(225, 97, 46);
}