/* MAIN CONTAINER */
.nav-container{
    padding: .8rem 1.2rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    
}

.item {
    font-weight: 400;
    font-style: normal;
    font-size: .8rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    line-height: 1em;
}

.item:hover {
    color: rgb(225, 97, 46);
}