*,
*::before,
*::after {
  box-sizing: border-box;
}


body, html {
  text-align: center;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(234, 233, 245);
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
  letter-spacing: .02em;
  line-height: 1.5em;
  text-transform: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  animation: transitionIn 0.75s;
}

.gear-list-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 10fr));
}

.siteTitle {
  font-family: 'Viaoda Libre', cursive;
  color:rgb(20,92,77);
  font-size: 55px;
}

.NavbarItems {
  height: 80 px;
  color: rgb(250, 220, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2 rem;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  list-style:none;
  text-align: center;
  width: 70vw;
}

.nav-links, .nav-btn{
  font-family: 'Hammersmith One', sans-serif;
  color: rgb(0, 25, 19);
  text-decoration: none;
}

.nav-links:hover{
  color: rgb(255, 218, 0);
  text-decoration: none;
}

.nav-btn:hover{
  color: rgb(255, 197, 201);
}

img {
  max-width:75%;
  height:auto;
}


.bigForm {
  align-items: right;
}

form {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  border-style: none;
  margin: 10px;
  padding: 10px;
  width : 550px;
}

input {
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
  padding: 15px;
  font-size:15px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid gray;
  background-color: #f1f1f1;
  border-radius: 4px;
}

select {
  width: 30%;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: 2px solid gray;
}

.btn {
  background-color: rgb(9,82,66);
  color: rgb(138,206,196);
  border: 5px solid rgb(0, 25, 19);
  font-size: 10 px;
  width: 20%;
  margin-top: 50px;
  font-family: 'Hammersmith One', sans-serif;
}

.btn:hover{
  color: rgb(255, 197, 201);
  background-color: rgb(138,206,196);
  border: 5px solid rgb(138,206,196);
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

