*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  text-align: center;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(245, 245, 238);
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
  letter-spacing: .02em;
  line-height: 1.5em;
  text-transform: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  animation: transitionIn 0.75s;
}

.gear-list-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 10fr));
}

.siteTitle {
  font-family: 'Viaoda Libre', cursive;
  color:rgb(20,92,77);
  font-size: 55px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

